@font-face {
    font-family: 'Aeonik Regular';
    src: url('./../assets/fonts/aeonik/Aeonik-Regular.otf') format('truetype');
}

* {
    font-family: Aeonik Regular;
}

.layout-container {
    background: radial-gradient(75% 100% at 81.2% 7.3999999999999995%, #e85dbe 0%, rgba(232, 93, 190, 0) 100%);
    /* border-radius: 32px; */
}
.insights-container {
    background:radial-gradient(53.6% 53.1% at 21.6% 50%,#ff7a33 0%,rgba(255,89,0,0) 100%);
}
.share-container {
    background: radial-gradient(75% 100% at 72.8% 92%,  #3b72ff 0%, rgba(63, 133, 145, 0) 100%);
}
.vector-img {
    object-fit: cover;
    opacity: 0.1;
    z-index: 20;
}

.vector-gradient{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 68.99458051801803%);
 top: -200px;
 position: absolute;
z-index: 40;
    height: 266px;

}
.slideshow {
    overflow: hidden;
    width: 100%;
  }
  .scroll-spy-header {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
  }
  
  .scroll-spy-header.text-blue {
    color: blue;
  }

  
  .slides-container {
    display: flex;
    gap: 10px;
    animation: slideshowAnimation 40s linear infinite;
  }
  
  .slide {

    object-fit: cover;
  }


  

  

  

  

  
  @keyframes slideshowAnimation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
.glow-on-hover {
    width: 220px;
    height: 60px;

    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 16px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 15px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}